<p>
  Listagem de Pessoas
</p>
<button type="button" (click) = "newPeople()" class="btn btn-success" >Cadastrar</button>  
<table class="table" >
  <thead>
    <tr>
      <td>
        Código
      </td>
      <td>
        Nome
      </td>
      <td>
        Ações
      </td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let people of peoples">
      <td>{{ people.id }}</td>
      <td>{{ people.name }}</td>
      <td>
          <button type="button" (click) = "edit(people.id)" class="btn btn-primary" >Editar</button>  
           | 
          <button type="button" (click) = "remove(people.id)" class="btn btn-danger" >Remover</button>  
      </td>
    </tr>
  </tbody>
</table>
