<section class="content">
  
  <form #form >
      <input type="hidden" name="id" id="id">
      <div class="col-md-12" >
          <div class="col-md-6" >
                {{id}}
              <label>Nome</label>          
              <input type="text"  class="form-control" [value] = "people.name" (input) = "people.name = $event.target.value">
            </div>
          <div class="col-md-2" >
              <label>CPF</label>
              <input type="text" class="form-control" [value] = "people.cpf" (input) = "people.cpf = $event.target.value">
          </div>
          <div class="col-md-6" >
              <label>Data de Nascimento</label>
              <input type="date" class="form-control" [value] = "people.dateBirth" (input) = "people.dateBirth = $event.target.value">
          </div>
          <div class="col-md-6" >
              <label>email</label>
              <input type="email" class="form-control" [value] = "people.email" (input) = "people.email = $event.target.value">
            </div>
      </div>                          
      <button type="button" (click) = "salvar()" class="btn btn-primary" >Salvar</button>  
  </form>
  <br>
  
  <table class="table" >
    <thead>
      <tr>
        <td>
          Código
        </td>
        <td>
          ddd
        </td>
        <td>
          Número
        </td>
        <td>
            Ações
          </td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let people of peoples">
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>editar | Remover</td>
      </tr>
    </tbody>
  </table>
</section>